---
import Pagination from '../Pagination.astro';

const apiUrl = "https://valorant-api.com/v1/buddies";

// Obtener parámetros de la URL
const url = new URL(Astro.url.pathname + Astro.url.search, Astro.url.origin);
const pageParam = Number(url.searchParams.get('page') ?? 1);
const itemsPerPage = 6; // Número de buddies por página
const currentPage = Math.max(pageParam, 1);

// Realiza la solicitud a la API
const res = await fetch(apiUrl);
const data = await res.json();
const buddies = data.data;

// Calcular los índices de los datos según la página actual
const startIndex = (currentPage - 1) * itemsPerPage;
const endIndex = startIndex + itemsPerPage;

// Obtener solo los buddies para la página actual
const currentBuddies = buddies.slice(startIndex, endIndex);

// Calcular el número total de páginas
const totalPages = Math.ceil(buddies.length / itemsPerPage);

interface Buddy {
  uuid: string;
  displayName: string;
  displayIcon: string;
  levels: { displayName: string }[];
}
---

<div class="container mx-auto p-8">
  <h1 class="text-4xl font-bold text-valorant mb-8">Valorant Buddies</h1>

  <!-- Lista de buddies para la página actual -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      currentBuddies.map((buddy: Buddy) => (
        <Fragment key={buddy.uuid}>
          <a
            href={`/buddy/${buddy.uuid}`}
            class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300"
          >
            <h2 class="text-2xl font-semibold text-valorant hover:underline">
              {buddy.displayName}
            </h2>
            <img
              src={buddy.displayIcon}
              alt={buddy.displayName}
              class="w-full h-48 object-contain mb-4 rounded-lg"
            />
            <p class="text-lg">
              Level: {buddy.levels.map((level) => level.displayName).join(", ")}
            </p>
          </a>
        </Fragment>
      ))
    }
  </div>

  <!-- Componente de paginación -->
  <Pagination totalPages={totalPages} />
</div>
