---
//src/components/valorant/BundleList.astro
import Pagination from '../Pagination.astro';
import BundleCard from './BundleCard.astro';

const apiUrl = "https://valorant-api.com/v1/bundles";

// Obtener parámetros de la URL
const url = new URL(Astro.url.pathname + Astro.url.search, Astro.url.origin);
const pageParam = Number(url.searchParams.get('page') ?? 1);
const itemsPerPage = 6; // Número de bundles por página
const currentPage = Math.max(pageParam, 1);

// Realiza la solicitud a la API
const res = await fetch(apiUrl);
const data = await res.json();
const bundles = data.data;

// Calcular los índices de los datos según la página actual
const startIndex = (currentPage - 1) * itemsPerPage;
const endIndex = startIndex + itemsPerPage;

// Obtener solo los bundles para la página actual
const currentBundles = bundles.slice(startIndex, endIndex);

// Calcular el número total de páginas
const totalPages = Math.ceil(bundles.length / itemsPerPage);

interface Bundle {
  uuid: string;
  displayName: string;
  description: string;
  displayIcon: string;
  displayIcon2: string;
  verticalPromoImage: string;
}

---

<div class="container mx-auto p-8">
  <h1 class="text-4xl font-bold text-valorant mb-8">Valorant Bundles</h1>

  <!-- Lista de bundles para la página actual -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      currentBundles.map((bundle: Bundle) => (
        <Fragment key={bundle.uuid}>
          <BundleCard
            uuid={bundle.uuid}
            displayName={bundle.displayName}
            description={bundle.description}
            displayIcon={bundle.displayIcon}
            displayIcon2={bundle.displayIcon2}
            verticalPromoImage={bundle.verticalPromoImage}
          />
        </Fragment>
      ))
    }
  </div>

  <!-- Componente de paginación -->
  <Pagination totalPages={totalPages} />
</div>
