---
//src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import bannerValo from "../assets/VALORANT_logo4.jpg";
import bannerZzz from "../assets/zzz.jpeg";
import CardApis from "../components/CardApis.astro";
import bannerDummyw from "../assets/dummywebp.webp";
import bannerRam from "../assets/ram.webp";
import bannerNode from "../assets/node.jpg";
const user = Astro.locals.user;

// Desestructurando el contexto de Netlify desde Astro.locals
const {
  geo: { city, country },
  deploy,
} = Astro.locals.netlify.context;

// Asignando valores predeterminados si alguno de los datos no está disponible
const cityName = city || "Ciudad desconocida";
const countryName = country?.name || "País desconocido";
const countryCode = country?.code || ""; // Asegúrate de extraer el código del país
---

<Layout>
  <div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <h1 class="text-4xl font-bold text-valorant mb-8">
        ¡Bienvenido {user ? user.username : "visitante"} de {cityName}, {
          countryName
        }!
        {
          countryCode && (
            <img
              src={`https://flagcdn.com/96x72/${countryCode.toLowerCase()}.png`}
              alt={`Bandera de ${countryName}`}
              style="height:2em;"
            />
          )
        }
      </h1> 
        {user ? (
          <div class="flex flex-col items-center gap-4 bg-gray-800 p-6 rounded-lg shadow-lg text-center mb-14" >
            <h1 class="text-2xl font-semibold text-white">¡Bienvenido, {user.username} 🚗💨</h1>
            <div class="flex flex-col gap-2 w-full">
              <form method="POST" action="/api/signout" class="w-full">
                <button class="w-full bg-red-600 text-white py-2 rounded-lg hover:bg-red-700 transition duration-200">
                  Cerrar sesión
                </button>
              </form>
              <a class="w-full text-blue-400 hover:text-blue-500 text-center py-2" href="/admin">
                Ir al panel de administración
              </a>
            </div>
          </div>
        ) : (
          <div class="flex flex-col items-center gap-4 bg-gray-800 p-6 rounded-lg shadow-lg text-center mb-14">
            <h1 class="text-2xl font-semibold text-white">¡Bienvenido !</h1>
            <div class="flex flex-col gap-2 w-full">
              <a
                href="/api/github"
                class="w-full bg-gray-900 text-white py-2 rounded-lg hover:bg-gray-700 transition duration-200 text-center"
              >
                Iniciar sesión con GitHub
              </a>
              <a
                href="/signin"
                class="w-full text-blue-400 hover:text-blue-500 text-center py-2"
              >
                Iniciar sesión con usuario/contraseña
              </a>
            </div>
          </div>
        )}      </p>
      <!-- Enlaces a otras páginas componente CardApis.astro -->
      <CardApis
        href="/valorant"
        imageSrc={bannerValo}
        imageAlt="Valorant Banner api"
        title="Valorant"
        description="Explora todo lo relacionado a Valorant."
      />
      <CardApis
        href="/dummy"
        imageSrc={bannerDummyw}
        imageAlt="DummyJSON"
        title="DummyJSON"
        description="Explora el contenido de DummyJSON."
      />
      <CardApis
        href="/rickandmorty"
        imageSrc={bannerRam}
        imageAlt="La API de Rick y Morty"
        title="The Rick and Morty API"
        description="Explora el contenido de The Rick and Morty API."
      />
      <CardApis
        href="/node"
        imageSrc={bannerNode}
        imageAlt="Api Node"
        title="Api MongoDB, Express,Astro, NodeJS"
        description="Explora el contenido de la Api conectada a MEAN CRUD"
      />
      <CardApis
        href="/"
        imageSrc={bannerZzz}
        imageAlt="ZZZ"
        title="ZZZ"
        description="Explora el contenido de ZZZ."
      />
    </div>
  </div>
</Layout>
