---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import bannerValo from "../assets/VALORANT_logo4.jpg";
import bannerZzz from "../assets/zzz.jpeg";

// Desestructurar los datos de localización de Astro.locals
const { city, country, weather } = Astro.locals;

// Si no se encuentra algún dato, asignar un valor predeterminado
const cityName = city ;
const countryName = country;
const weatherDescription = weather?.description ;
const temperature = weather?.temp ? `${weather.temp}°C` : "Temperatura no disponible";
---

<Layout>
  <div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    
      <!-- Mostrar la bienvenida con ciudad, país y clima -->
      <h1 class="text-4xl font-bold text-valorant mb-8">
        ¡Bienvenido a {cityName}, {countryName}!
        <span class="text-xl text-gray-500">{new Date().toLocaleDateString()}</span>
      </h1>
      <p class="text-lg text-gray-700">
        Clima: {weatherDescription}, {temperature}.
      </p>
      
      <!-- Enlaces a otras páginas -->
      <a href="/valorant-agents" class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
        <Image src={bannerValo} alt="Valorant Banner api" class="w-full object-cover mb-4 rounded-lg" />
        <h2 class="text-2xl font-semibold text-valorant hover:underline">Valorant Agents</h2>
        <p>Explora la lista de personajes de Valorant.</p>
      </a>
      <a href="/zzz" class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
        <Image src={bannerZzz} alt="ZZZ" class="w-full object-cover mb-4 rounded-lg" />
        <h2 class="text-2xl font-semibold text-valorant hover:underline">ZZZ</h2>
        <p>Explora el contenido de ZZZ.</p>
      </a>
    </div>
  </div>
</Layout>
