---
//src/pages/valorant.astro
import CardApis from "../components/CardApis.astro";
import bannerValo from "../assets/VALORANT_logo4.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <CardApis
        href="/valorant/agents"
        imageSrc={bannerValo}
        imageAlt="Valorant Banner api"
        title="Valorant Agents"
        description="Explora la lista de personajes de Valorant."
      />
      <CardApis
        href="/valorant/buddies"
        imageSrc={bannerValo}
        imageAlt="buddies valorant"
        title="Valorant Buddies"
        description="Explora la lista de Buddies de Valorant."
      />
      <CardApis
        href="/valorant/bundle"
        imageSrc={bannerValo}
        imageAlt="bundle valorant"
        title="Valorant Bundle"
        description="Explora la lista de Bundles de Valorant."
      />
      <CardApis
        href="/valorant/competitive"
        imageSrc={bannerValo}
        imageAlt="bundle valorant"
        title="Valorant Competitive"
        description="Explora la lista de Competitive Tier de Valorant."
      />
      <CardApis
        href="/valorant/currency"
        imageSrc={bannerValo}
        imageAlt="currency valorant"
        title="Valorant Currency"
        description="Explora la lista de Currency de Valorant."
      />
    </div>
  </div>
</Layout>
