---
interface Props {
  name: string;
  age: number;
  description: string;
  height: string;
  image: string;
  rank: string;
  type: string;
}

const { name, age, description, height, image, rank, type } = Astro.props;
// Cortar la URL de la imagen en caso de que tenga parámetros adicionales
const imageUrl = image.split('/revision')[0];
---
<a href={`/zzz/${name}`} class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
  <div class="h-48 flex items-center justify-center mb-4">
    <img src={imageUrl} alt={name} class="max-h-full max-w-full object-contain rounded-lg" />
  </div>
  <div class="character-info">
    <h2 class="text-2xl font-semibold text-valorant hover:underline">{name}</h2>
    <p class="rank">Rank: {rank}</p>
    <p class="type">Type: {type}</p>
    <div class="details">
      <p>Age: {age}</p>
      <p>Height: {height}</p>
    </div>
    <p class="description">{description}</p>
  </div>
</a>
