---
import Layout from "../layouts/Layout.astro";
import Pagination from "./Pagination.astro";

const res = await fetch("http://localhost:3000/api/movies");
const data = await res.json();
const movies = data;

// Configuraci칩n de la paginaci칩n
const url = new URL(Astro.url.pathname + Astro.url.search, Astro.url.origin);
const pageParam = Number(url.searchParams.get('page') ?? 1);
const itemsPerPage = 6; // N칰mero de pel칤culas por p치gina
const totalPages = Math.ceil(movies.length / itemsPerPage);

const currentPage = Math.max(
    pageParam > totalPages ? totalPages : pageParam,
    1
);

// Dividir las pel칤culas en p치ginas
const moviesOnPage = movies.slice(
    (currentPage - 1) * itemsPerPage,
    currentPage * itemsPerPage
);
---
<Layout>
<div class="container mx-auto p-8">
  <h1 class="text-4xl font-bold text-valorant mb-8">Movies 游꿟</h1>

  <!-- Grid de pel칤culas -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      moviesOnPage.map((movie: any) => (
        <div class="bg-valorant-dark p-4 rounded-lg shadow-lg">
          <img src={movie.poster} alt={movie.title} class="w-full h-48 object-contain mb-4 rounded-lg" loading="lazy" />
          <h2 class="text-2xl font-semibold text-valorant mb-2">{movie.title}</h2>
          <p class="text-lg">Year: {movie.year}</p>
          <p class="text-lg">Director: {movie.director}</p>
          <p class="text-lg">Plot: {movie.plot}</p>
          <p class="text-lg">Genres: {movie.genres.join(', ')}</p>
          <p class="text-lg">IMDB Rating: {movie.imbd.rating}</p>
          <p class="text-lg">IMDB Votes: {movie.imbd.votes}</p>
        </div>
      ))
    }
  </div>

  <!-- Componente de paginaci칩n -->
  <Pagination totalPages={totalPages} />
</div>
</Layout>