---
import Layout from "../../layouts/Layout.astro";
import background from "../../assets/background.svg";
const { uuid } = Astro.params;
const res = await fetch(
  `https://valorant-api.com/v1/agents/${uuid}?language=es-ES`
);
const agent = await res.json();
export const prerender = false;
---

<Layout>
  <div class="container mx-auto p-8">
    <div
      class="bg-valorant-pattern bg-cover bg-center min-h-screen p-8 rounded-lg shadow-lg flex flex-col md:flex-row items-center"
    >
      <div class="md:w-1/2">
        <h1 class="text-4xl font-bold text-valorant">
          {agent.data.displayName}
        </h1>
        <p class="text-lg mb-4">{agent.data.description}</p>
        <h2 class="text-2xl font-semibold mb-4">Habilidades</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          {
            agent.data.abilities.map((ability:any) => (
              <div
                key={ability.slot}
                class="bg-valorant-dark p-4 rounded-lg shadow-2xl"
              >
                <h3 class="text-xl font-bold">{ability.displayName}</h3>
                <p>{ability.description}</p>
                <img
                  src={ability.displayIcon}
                  alt={ability.displayName}
                  class="w-12 h-12 mt-2"
                />
              </div>
            ))
          }
        </div>
      </div>
      <div class="md:w-1/2 flex justify-center">
        <img
          src={agent.data.fullPortrait}
          alt={agent.data.displayName}
          class="w-full max-w-lg"
        />
      </div>
    </div>
  </div>
</Layout>
